In [1]:
import pandas as pd
import numpy as np
from mva.factors import PCF
from mva.factors import PCA
from mva.factors import _eigen_decompostion

hbat = pd.read_excel(r"C:\Users\k_abo\Desktop\mva\15- HBAT Data.xlsx")
hbat = hbat.iloc[:,7:18]
hbat

     x7   x8   x9  x10  x11  x12  x13  x14  x15  x16  x17
0   3.9  2.5  5.9  4.8  4.9  6.0  6.8  4.7  4.3  5.0  5.1
1   2.7  5.1  7.2  3.4  7.9  3.1  5.3  5.5  4.0  3.9  4.3
2   3.4  5.6  5.6  5.4  7.4  5.8  4.5  6.2  4.6  5.4  4.0
3   3.3  7.0  3.7  4.7  4.7  4.5  8.8  7.0  3.6  4.3  4.1
4   3.4  5.2  4.6  2.2  6.0  4.5  6.8  6.1  4.5  4.5  3.5
..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
95  4.8  5.6  5.3  2.3  6.0  5.7  6.7  5.8  3.6  4.9  3.6
96  3.4  2.6  5.0  4.1  4.4  4.8  7.2  4.5  6.4  4.2  5.6
97  3.2  3.3  3.2  3.1  6.1  2.9  5.6  5.0  4.3  3.1  2.9
98  4.9  5.8  5.3  5.2  5.3  7.1  7.9  6.0  5.7  4.3  4.9
99  3.0  4.4  5.1  5.9  4.2  4.8  9.7  5.7  5.8  3.4  5.4

[100 rows x 11 columns]

In [21]:
A = np.array([[1,2,3,2,5], [6,8,7,6,5], [3,4,2,4,2]])
R = np.corrcoef(A, rowvar= False)
A

array([[1, 2, 3, 2, 5],
       [6, 8, 7, 6, 5],
       [3, 4, 2, 4, 2]])

In [8]:
pca = PCA()
pca.fit(hbat)
print(pca.eigenvals)

best_eigen_values = 5
pca.fit_transform(hbat, best_eigen_values)

[0.09325635 0.15592429 0.20040013 0.27502432 0.45961019 0.61771076
 0.99744686 1.08083195 1.59819881 2.62529397 2.89630239]

           0         1         2         3          4
0  -3.041745  3.565697  0.880657 -4.428966 -13.944138
1  -2.646908  4.057757  0.392049 -8.425547 -10.942309
2  -3.778182  3.114919  2.383446 -8.680162 -12.995649
3  -2.484677  6.362895  4.875391 -5.565590 -11.798338
4  -3.095789  4.873720  2.536701 -6.553569 -10.720268
..       ...       ...       ...       ...        ...
95 -2.097785  4.100539  3.125522 -6.787259 -12.227345
96 -4.936117  4.935813  0.570974 -3.481094 -12.723077
97 -3.596330  2.955322  1.745766 -5.138087  -8.809920
98 -4.471705  4.729469  4.030448 -5.473837 -14.751765
99 -4.581186  6.225606  2.598869 -3.319609 -13.360910

[100 rows x 5 columns]

In [5]:
pcf = PCF()
pcf.fit(hbat)
pcf.estimate_factors(hbat, 2)

            0          1
0  -14.503175 -35.313015
1  -27.590457 -27.710994
2  -28.424224 -32.911000
3  -18.225188 -29.878854
4  -21.460442 -27.148683
..        ...        ...
95 -22.225688 -30.965300
96 -11.399257 -32.220723
97 -16.825277 -22.310798
98 -17.924729 -37.358300
99 -10.870454 -33.836010

[100 rows x 2 columns]

[1 4 9]
(3,)
[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]
 [13 14 15]]
(5, 3)